[Unit]
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=zookeeper
ExecStart=/home/zookeeper/kafka/bin/zookeeper-server-start.sh /home/zookeeper/kafka/config/zookeeper.properties
ExecStop=/home/zookeeper/kafka/bin/zookeeper-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
